{% extends "_base.html" %}
{% load tree_list %}

{% block extrahead %}
    <style>
        ul, #folderList {
            list-style-type: none;
        }
        #folderList {
          margin: 0;
          padding: 0;
        }
    </style>
{% endblock %}

{% block extrabody %}class="hold-transition sidebar-mini layout-fixed"{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">GroupVault</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mt-3">
            <div id="folderList" class="col-sm-3">
                {% autoescape off %}
                {{ folders | tree_list }}
                {% endautoescape %}
            </div>
            <div id="entryList" class="col-sm-9">
                <p>Please select a folder to view entries.</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="entryModalLabel">NAME</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>URL:</b> URL
                    </p>
                    <p>
                        <b>Login:</b> LOGIN
                    </p>
                    <p>
                        <b>Secret:</b> SECRET
                    </p>
                    <p>
                        <b>Description: </b> DESCRIPTION
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script>
        function loadEntries(folderPK) {
            $.ajax({
                url:        '/ajax/folder/' + folderPK,
                type:       'get',
                dataType:   'json',
                success:    function(data) {
                    $("#entryList").html(data.entry_list);
                }
            });
        }
        function showEntry(pk) {
            $.ajax({
                url:        '/ajax/entry/' + pk,
                type:       'get',
                dataType:   'json',
                success:    function(data) {
                    $("#entryModal").html(data.entry);
                    $("#entryModal").modal('show');
                }
            });
        }
    </script>
{% endblock %}